// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
header {
    background: #E7E7E7;
    img {
        height: 100px;
    }
}

form {
    width: 37%;
    margin-top: 10rem;
    label {
        font-size: 2rem;
    }
}

.st-blue {
    color: #2F77B8;
}