// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
header {
    top: 2px;
    left: 0px;
    width: 1920px;
    height: 147px;
    background: #E7E7E7 0% 0% no-repeat padding-box;
    opacity: 1;
}